body
  {
   color:black;
   }
a.right
  {
    float:right;
   }
.container
  {
    display:flex;
    align-items: center;
    justify-content:center;
    padding:5%;
  }
.image
  {
    max-height: 100%;
    max-width: 100%;
  }
.text
  {
   font-size:20px;
 }
.container1
  {
    display:grid;
    align-items:center;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:5px;
  }
.container2
  {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
  }